[Desktop Entry]
Type=Application
Name=Nucleus
Comment=A modular, floating control center for Linux
Categories=Utility;
Exec=project-nucleus
Icon=io.github.gokcank.ProjectNucleus
StartupWMClass=Nucleus
Terminal=false
